*{
    margin:0px;
    padding:0px;
    transform: 1s;
}
.bglightgrey{
    background-color: rgb(238, 242, 245);
}
.image-small{
    width:350px;
    height:350px;
}
.image-large{
    width:450px;
    height:450px;
}
#list{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:0.8rem;
}
main{
  background-color:#ededed;
}
.btn-green{
    background: #476a2e !important;
    color:#fff !important;
}
.info-green{
    background-color:#d4e6a5;
    color: #476a2e;
}
.box-shadow{
    box-shadow: 3px 2px 5px -1px rgba(0,0,0,0.75);
}